.table-of-contents {
  &:before {
    content: "Table of contents";
    @extend .font-bold;
  }

  ul,
  ol {
    font-size: .95rem;
    padding-left: 2rem;
  }

  & > ul,
  & > ol {
    padding-left: 1em;
  }

  a {
    @extend .font-normal;
  }
}
