.Tag__Container {
  font-size: .9rem;
}

.Tag,
.Tag__Link {
  display: inline-block;
}

.Tag__Link {
  @include normal();
}

.Tag__LinkDivider:before {
  content: "/";
  color: #d0d0d0;
  margin: 0 .7rem;
}
